
version: '3.8'

services:
  web:
    build: .
    command: gunicorn wfm_core.wsgi:application --bind 0.0.0.0:8000 --timeout 300
    expose:
      - 8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=wfm_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1q2w3e4r

  redis:
    image: redis:6-alpine

  worker:
    build: .
    command: celery -A wfm_core worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db

volumes:
  postgres_data:
