
version: '3.8'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    command: gunicorn wfm_core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    expose:
      - 8000
    env_file:
      - .env.prod
    depends_on:
      - db
      - redis

  db:
    image: postgres:13
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    env_file:
      - .env.prod

  redis:
    image: redis:6-alpine

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "80:80"
      #- "443:443" # SSL gelince acilacak
    depends_on:
      - web

  worker:
    build: .
    command: celery -A wfm_core worker -l info
    volumes:
      - .:/app
    env_file:
      - .env.prod
    depends_on:
      - redis
      - db

volumes:
  postgres_data_prod:
  static_volume:
  media_volume:
